/*-------------------- Specification --------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,500');

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	-webkit-border-radius: 100px;
	background: #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
	background: #f5f5f5;
}

::-webkit-resizer {
	width: 0;
}

::-webkit-scrollbar {
	width: 0;
	height: 10px;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: auto;
	overflow-x: hidden;
}

header, main, footer, section, nav {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, i, b {
	cursor: default;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, i, b, a, textarea, input, button {
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
}

a:hover, textarea:hover, input:hover, button:hover {
	text-decoration: none;
}

textarea:focus, input:focus, button:focus {
	outline: none;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.index-section {
	height: 100vh;
	overflow-x: hidden;
}

/* Start Section */

.index-section.start-section {
	background: linear-gradient(to right bottom, #12c2e9, #c471ed, #f64f59);
	background: -moz-linear-gradient(to right bottom, #12c2e9, #c471ed, #f64f59);
	background: -webkit-linear-gradient(to right bottom, #12c2e9, #c471ed, #f64f59);
}

.index-section.start-section h1 {
	font-size: 85px;
	font-weight: 100;
	letter-spacing: 10px;
	color: #fff;
	margin: 0;
}

@media (max-width: 1000px) {
	.index-section.start-section h1 {
		font-size: 50px;
	}
}

@media (max-width: 450px) {
	.index-section.start-section h1 {
		font-size: 11vw;
	}
}

.index-nav__element {
	transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 2.5px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100px;
	padding: 4px 40px;
	margin: 10px 0 0 0;
}

.index-nav__element:hover {
	color: #c86fe2;
	background: #fff;
}

.index-nav__element:active {
	opacity: .75;
}

@media (max-width: 1000px) {
	.index-nav__element {
		font-size: 9px;
		padding: 3px 30px;
	}
}

.start-section__element #waves {
	width: 100vw;
	height: auto;
	max-height: 15vh;
	padding: 0;
}

/* Settings sections */

.settings-section {
	width: 75vw;
	padding: 0;
}

.bg-preview, .font-preview, .filter-preview {
	margin: 0;
	overflow: hidden;
}

.bg-preview__element, .font-preview__element, .filter-preview__element {
	padding: 50px;
}

#bg-gallery, #font-gallery, #filter-gallery {
	z-index: 3;
	overflow-y: hidden;
	overflow-x: auto;
	display: inline-flex;
	background: #66c4ff;
	box-shadow: 0 0 50px 0 #66c4ff;
	-moz-box-shadow: 0 0 50px 0 #66c4ff;
	-webkit-box-shadow: 0 0 50px 0 #66c4ff;
	border-top-right-radius: 100px;
	width: 100%;
	height: 15vw;
}

.bg-gallery__element, .font-gallery__element, .filter-gallery__element {
	padding: 20px 15px;
}

.bg-gallery__element img, .font-gallery__element img, .filter-gallery__element img {
	height: 11vw;
}

#bg-settings, #font-settings, #filter-settings {
	z-index: 2;
	background: #7fa4ff;
	box-shadow: 0 0 50px 0 #7fa4ff;
	-moz-box-shadow: 0 0 50px 0 #7fa4ff;
	-webkit-box-shadow: 0 0 50px 0 #7fa4ff;
	border-bottom-left-radius: 100px;
	width: 60%;
	height: 100%;
}

.preview-settings {
	padding: 50px 0 0 0;
}

#bg-picture, #font-picture, #filter-picture {
	width: 35%;
	height: auto;
}

#bg-picture__content, #font-picture__content, #filter-picture__content {
	width: 100%;
	height: 100%;
}

.bg-canvases, .bg-canvases__element, .font-canvases, .font-canvases__element, .filter-canvases, .filter-canvases__element {
	width: 24.25vw;
	height: 24.25vw;
}

.bg-canvases__element, .font-canvases__element, .filter-canvases__element {
	position: absolute;
}

.bg-settings__content, .filter-settings__content {
	background: transparent;
}

.value_shower {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

input[type=range] {
  height: 23px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 75%;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
}
input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
}
input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 17px;
  width: 17px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}

