/*-------------------- Specification --------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600');

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	background: #000;
}
header, main, footer, section, nav {
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p, i, b, span {
	cursor: default;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p, i, b, a, textarea, input, button {
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
}
a:hover, textarea:hover, input:hover, button:hover {
	text-decoration: none;
}
textarea:focus, input:focus, button:focus {
	outline: none;
}
body {
	font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
	width: 0;
}
body.index {
	background: url('../img/index/bg.png') 100% 100% no-repeat;
	background-size: cover;
}

/*-------------------- First Display --------------------*/
.index .first-display {
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100vw;
	height: 100vh;
}
.index .first-display .header, .index .first-display .content, .index .first-display .footer {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	width: 100%;
}

/*---------- Header ----------*/
.index .first-display .header {
	align-items: flex-end;
	-webkit-align-items: flex-end;
}
.current-lang {
	color: #fff;
	font-size: 19px;
	font-weight: 500;
	margin: 30px 30px 0 0;
}

/*---------- Content ----------*/
.main-title {
	color: #fff;
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 9px;
	margin: 41px 0 0 0;
}
@media (max-width: 525px) {
	.main-title {
		font-size: 8.5vw;
	}
}

/*---------- Footer ----------*/
.scroll-icon {
	height: 45px;
	margin:  0 0 45px 0;
}

/*-------------------- Second Display --------------------*/
.index .second-display {
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	width: 100vw;
	height: 100vh;
}
@media (max-width: 1338px) {
	.index .second-display {
		height: auto;
	}
}
.index .second-display .content {
	width: 100%;
}
.edit-bar {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	height: 550px;
	padding: 0 40px;
}
@media (max-width: 1338px) {
	.edit-bar {
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: center;
		-webkit-justify-content: center;
		align-items: center;
		-webkit-align-items: center;
		height: auto;
		padding: 0;
	}
}

/*---------- Current Picture ----------*/
.picture-layers {
	flex: 0 1 500px;
	-webkit-flex: 0 1 500px;
	width: 500px;
	height: 500px;
}
@media (max-width: 555px) {
	.picture-layers {
		flex: none;
		-webkit-flex: none;
		width: 90vw;
		height: 90vw;
	}
}
.picture-layers .layer {
	position: absolute;
	width: inherit;
	height: inherit;
}
.default-layer {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	color: #fff;
	font-weight: 300;
	font-size: 180px;
	letter-spacing: 10px;
	outline: 3px solid #fff;
	outline-offset: -3px;
}
.save-layer {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	align-items: flex-end;
	-webkit-align-items: flex-end;
}
.save-icon {
	display: none;
	width: 30px;
	margin: 2.5% 2.5%;
}

/*---------- Slider ----------*/
.slider {
	flex: 1 0 0;
	-webkit-flex: 1 0 0;
	max-width: 1310px;
	height: 100%;
	margin:  0 0 0 30px;
}
@media (max-width: 1338px) {
	.slider {
		flex: none;
		-webkit-flex: none;
		width: 90%;
		height: auto;
		margin:  50px 0 0 0;
	}
}
.ca-container {
	position: relative;
	width: 100%;
	height: 100%;
}
.ca-wrapper {
	position: relative;
	width: 100%;
	height: 500px;
}
@media (max-width: 809px) {
	.ca-wrapper {
		height: 829px;
	}
}
@media (max-width: 437px) {
	.ca-wrapper {
		height: 700px;
	}
}
@media (max-width: 555px) {
	.ca-wrapper {
		height: 800px;
	}
}
.ca-item {
	position: relative;
	width: 100%;
	height: 100%;
}
.ca-item-content {
	display: flex;
	display: -webkit-flex;
}
@media (max-width: 809px) {
	.ca-item-content {
		display: flex;
		display: -webkit-flex;
		flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		align-items: center;
		-webkit-align-items: center;
	}
}

/*----- Settings -----*/
.settings-wrap {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	flex: 1 0 0;
	-webkit-flex: 1 0 0;
	outline: 3px solid #fff;
	outline-offset: -3px;
	height: 500px;
	margin: 0 30px 0 0;
}
@media (max-width: 809px) {
	.settings-wrap {
		flex: none;
		-webkit-flex: none;
		width: 500px;
		margin: 50px 0 0 0;
	}
}
@media (max-width: 555px) {
	.settings-wrap {
		width: 90vw;
		height: 500px;
	}
}
.settings {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	height: 65%;
	width: 100%;
}
.settings .range-row {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	width: 100%;
}
.settings .reset-btn {
	cursor: pointer;
	height: 15px;
	margin:  0 10px 0 0;
}
.settings input[type=range] {
	background: transparent;
	border-color: transparent;
	color: transparent;
	height: 26px;
	-webkit-appearance: none;
	width: 70%;
}
.settings input[type=range]::-webkit-slider-runnable-track {
	width: 70%;
	height: 2px;
	cursor: pointer;
	background: #fff;
}
.settings input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background: #fff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}
.settings input[type=range]:focus::-webkit-slider-runnable-track {
	background: #fff;
}
.settings input[type=range]::-moz-range-track {
	width: 70%;
	height: 2px;
	cursor: pointer;
}
.settings input[type=range]::-moz-range-thumb {
	-webkit-transition: all 0.175s linear;
	-moz-transition: all 0.175s linear;
	-o-transition: all 0.175s linear;
	transition: all 0.175s linear;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: #fff;
	cursor: pointer;
}
.settings input[type=range]::-ms-track {
	width: 70%;
	height: 2px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.settings input[type=range]::-ms-fill-lower {
	background: #fff;
}
.settings input[type=range]::-ms-fill-upper {
	background: #fff;
}
.settings input[type=range]::-ms-thumb {
	-webkit-transition: all 0.175s linear;
	-moz-transition: all 0.175s linear;
	-o-transition: all 0.175s linear;
	transition: all 0.175s linear;
	margin-top: 1px;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background: #fff;
	cursor: pointer;
}
.settings .range-row .value-shower {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	min-width: 40px;
	margin:  0 0 0 10px;
}
.text-row {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 75%;
}
@media (max-width: 555px) {
	.text-row {
		flex-direction: column;
		-webkit-flex-direction: column;
	}
}
.text-row .name {
	color: #fff;
	font-size: 15px;
	font-weight: 300;
}
.text-row .args {
	display: flex;
	display: -webkit-flex;
	font-size: 15px;
	font-weight: 500;
}
@media (max-width: 555px) {
	.text-row .args {
		justify-content: flex-end;
		width: 100%;
		margin: 10px 0 0 0;
	}
}
.text-row .args input {
	background: transparent;
	border: none;
	text-align: right;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
}
.text-row .args input[data-arg="true"] {
	max-width: 50px;
}
.text-row .args input[type="range"] {
	width: 175px;
}
/*----- Gallery -----*/
.gallery-wrap {
	overflow-x: hidden;
	overflow-y: scroll;
	flex: 0 1 198px;
	-webkit-flex: 0 1 198px;
	width: 198px;
	height: 500px;
}
@media (max-width: 809px) {
	.gallery-wrap {
		overflow-x: scroll;
		overflow-y: hidden;
		flex: none;
		-webkit-flex: none;
		width: 100%;
		height: auto;
	}
}
.gallery {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	height: 100%;
}
@media (max-width: 809px) {
	.gallery {
		flex-direction: row;
		-webkit-flex-direction: row;
	}
}
.gallery__element {
	cursor: pointer;
	padding: 5px 0;
}
.gallery__element[data-pos="first"] {
	padding:  0 0 5px 0;
}
.gallery__element[data-pos="last"] {
	padding:  5px 0 0 0;
}
.gallery__element img {
	-webkit-transition: all 0.175s linear;
	-moz-transition: all 0.175s linear;
	-o-transition: all 0.175s linear;
	transition: all 0.175s linear;
	width: 180px;
	height: 180px;
}
@media (min-width: 1338px) {
	.gallery__element img:hover {
		opacity: 0.85;
	}
}
@media (max-width: 809px) {
	.gallery__element {
		max-height: 250px;
		padding: 0 7.5px;
	}
	.gallery__element[data-pos="first"] {
		padding: 0 7.5px 0 0;
	}
	.gallery__element[data-pos="last"] {
		padding: 0 0 0 7.5px;
	}
	.gallery__element img {
		width: 250px;
		height: 250px;
	}
}
@media (max-width: 277px) {
	.gallery__element {
		max-height: 90vw;
	}
	.gallery__element img {
		width: 90vw;
		height: 90vw;
	}
}

.gallery-wrap::-webkit-scrollbar-button, .gallery-wrap::-webkit-resizer {
	width: 0;
	height: 0;
}
.gallery-wrap::-webkit-scrollbar-track {
	background: transparent;
}
.gallery-wrap::-webkit-scrollbar-thumb {
	background: #000;
	border: 1px solid #fff;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
.gallery-wrap::-webkit-scrollbar {
	width: 8px;
	height: 0;
}

/*----- Navigation -----*/
.ca-nav-wrap {
	display: flex;
	display: -webkit-flex;
	align-items: flex-end;
	-webkit-align-items: flex-end;
}
.ca-nav {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	width: 100%;
	margin: 26px 0 0 0;
}
@media (max-width: 1338px) {
	.ca-nav {
		margin: 26px 0;
	}
}
.ca-nav-btns img {
	cursor: pointer;
	height: 20px;
}
.ca-nav-next {
	margin: 0 0 0 35px;
}
.ca-nav-text {
	color: #fff;
	font-weight: 300;
	font-size: 15px;
}